@font-face{
    font-family:SuperAutoPets;
    src:url(LapsusPro-Bold.otf);
}

*{
    font-family:SuperAutoPets;
    margin:0;
    padding:0;
}

@keyframes toin {
    from {
      scale:0.8;
    }
    to {
      scale:1.05;
    }
  }

@keyframes cross {
    from {
      opacity:0%;
    }
    to {
      opacity:100%;
    }
  }


.hide{
    display: none !important;
}

.petlegal{
    border-radius:20px;
    font-size:25px;
    vertical-align: bottom;
    transition:0.2s;
    height:310px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    animation: toin 0.09s ease-in-out;
    /* line-height:0.5px; */
}

.petlegal4{
    margin:15px;
    padding:10px;
    text-align:center;
}

.petlegal4:hover .description{
    display: block;
    animation: cross 0.25s ease-in-out;
}

.petlegal4:hover .petlegal6 h3{
    display: block;
    animation: cross 0.25s ease-in-out;
}

.petlegal6{
    width:200px;
    height:75px;
}

.petlegal6 h3{
    display:none;
}

.petlegal5{
    width:200px;
}

.description {
    display: none;
    font-size:18px;
}

.petlegal h2{
    font-size:28px;
}

.petlegal3{
    color:white;
    -webkit-text-stroke-color:rgb(66, 66, 66);
    -webkit-text-stroke-width:2px;
    text-shadow:black 0px 0px 3px;
}

.petlegal3 h2{
    font-size:35px;
    letter-spacing:2px;

}

.turtle h2{
    color:#FEBD00;
    -webkit-text-stroke-color:rgb(124, 67, 35);
}

.turtle h2{
    color:#FEBD00;
    -webkit-text-stroke-color:rgb(124, 67, 35);
}

.turtle h2{
    color:#FEBD00;
    -webkit-text-stroke-color:rgb(124, 67, 35);
}

.puppy h2{
    color:#ff9100;
    -webkit-text-stroke-color: #752d43;
}

.weekly h2{
    color:#6C9BF6;
    -webkit-text-stroke-color: #44467E;
}

.star h2{
    color:#43ff2a;
    -webkit-text-stroke-color: #0b702c;
}

.petlegal img{
    transition:0.25s;
    margin-bottom:12px;
    max-height:140px;
    max-width:140px;

    /* height:150px;
    width:150px; */
    /* object-fit: contain;
    object-position: bottom; */
}

.petlegal img:hover{
    cursor:pointer;
    scale:1.2;
}

.Botoes{
    margin-top:10px;
    width:90%;
    margin:auto;
    height:fit-content;
    display:flex;
    justify-content:space-evenly;
}

.Filtro{
    border:none;
    width:10%;
    height:35px;
    border-radius:8px;
    font-size:20px;
    border: 3px solid rgb(0, 0, 0);
    transition:0.25s;
}

.Filtro:hover{
    cursor:pointer;
    scale:1.08;
}

.Filtro:active{
    scale:0.9;
}

#pet-container{
    display:flex;
}

#pet-container2{
    display:flex;
}

#loading{
    margin:auto;
    width:250px;
    display: flex;
    flex-direction:column;
    margin-top:100px;
    animation: toin 0.250s ease-in-out;
}

p{
    text-align:center;
    font-size:35px;
}

.body0{
    background-color:#00273A;
}

.fundo1{
    background-image: url("photos/Background1.png");
    min-width:100vw;
    width:fit-content;
    height:870px;
    background-size:1090px;
}

.body2{
    background-image: url("photos/Background2.png");
    background-size:1090px;
}

.fundo3{
    margin-top:-90px;
    background-image: url("photos/Background3.png");
    min-width:100vw;
    width:fit-content;
    height:870px;
    background-size:1090px;
}

.overFlow{
    overflow-y: hidden;
}

.body4{
    background-image: url("photos/Background4.png");
    background-size:1090px;
}

.TeamWood{
    display:none;
}

header{
    width:100%;
    height:90px;
    background-color:#000E15;
    font-size:35px;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:fixed;
    z-index:999; 
}

h2{
    font-size:35px;
}

header a{
    width:35px;
    height:35px;
    text-decoration:none;
    color:white;
    margin-left:25px;
    transition:0.2s;
}

header a:hover{
    scale:0.9;
}

header img:hover{
    scale:0.85;
}

header a:active{
    opacity:70%;
}

header img:active{
    opacity:70%;
}

header img{
    height:35px;
    transition:0.2s;
}


.home{
    filter:invert();
}

.Redes{
    height:35px;
    margin-right:25px;
    display:flex;
}

.principal{
    font-size:80px;
    text-align:center;
    margin-top:80px;
    color:#FEBD00;
    text-shadow: 5px 5px black;
}

.Space{
    height:90px;
}

.Space2{
    height:0px;
}

.logo{
    width:550px;
    margin:auto;
    display:flex;
    padding:40px;
}

.Selection{
    background-image:url(photos/Background3.png);
    background-size:900px;
    height:500px;
    width:100%;
    margin-top:80px;
    text-align:center;
}

.Pack{
    width:150px;
    height:230px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    -webkit-text-fill-color: white;
    letter-spacing:3px;
    -webkit-text-stroke-width:3px;
}

    .Pack img{
        width:100%;
    }

    .Pack a{
        transition:0.2s;
    }

    .Pack a:hover{
        scale:0.9;
    }

    .Pack img:active{
        opacity:70%;
    }

.Packs{
    display:Flex;
    justify-content:space-between;
    width:900px;
    margin:auto;
    margin-top:30px;
}

    .Packs1, .Packs2{
        width:50%;
        display:flex;
        justify-content:space-around;
    }

.PackName{
    height:70px;
    width:100%;
    font-size:40px;
}

.Select{
    font-size:90px;
    padding:40px;
    -webkit-text-fill-color:#70FE00;
    letter-spacing:4px;
    -webkit-text-stroke-width:4.5px;
    text-align:center;
}

.Select2{
    padding:80px;
}

.Plays{
    display:flex;
    flex-direction:row;
    width:900px;
    height:fit-content;
    align-items:center;
    margin:auto;
}

    .Plays1, .Plays2{
        width:50%;
        display:flex;
        justify-content:space-around;
    }

.Play{
    width:120px;
    height:fit-content;
    text-align:center;
    color:white;
    font-size:30px;
    padding-bottom:80px;
}

.Play img{
    transition:0.2s;
}

.Play img:hover{
    scale:0.9;
}

.Play img:active{
    opacity:70%;
}

::-webkit-scrollbar{
    width:22px;
    background-color:#000E15;
}

::-webkit-scrollbar-thumb{
    background-color:#064361;
    background-size:cover;
    border: 4px solid #000E15;
    border-radius:20px;
}

footer{
    width:100%;
    height:200px;
    background-color:#000E15;
}

@media(max-width: 900px) {

    #loading{
        margin-top:0px;
    }

    .Space{
        height:20vh;
        width:900px;
    }

    header{
        background-color:blue;
        height:20vh;
        min-height:20h;
        font-size:80px;
    }

    header img{
        height:70px;
    }

    header a{
        padding:25px;
        width:fit-content;
        height:70px;
    }

    .Redes{
        height:fit-content;
    }

    .Redes1{
        display:none;
    }

    .body0{
        width:900px;
    }

    .logo{
        width:800px;
        padding-top:160px;
        padding-bottom:160px;
    }

    .Select{
        font-size:120px;
        padding-top:50px;
    }

    .Selection{
        background-size:1500px;
        height:1200px;
    }
    .Pack{
        width:260px;
        height:440px;
        font-size:80px;
    }
    .PackName{
        font-size:70px;
    }

    .Select2{
        padding:80px;
        padding-top:160px;
    }

    .Plays{
        flex-direction:column;
        padding-bottom:80px;
        width:100%;
    }

    .Plays h3{
        font-size:70px;
    }

    .Plays1, .Plays2{
        width:80%;
        justify-content:space-around;
        display:flex;
        padding:80px;
    }

    .Play{
        width:240px;
        height:fit-content;
    }

    .Packs{
        flex-direction:column;
        align-items:center;
        padding-top:30px;
    }

    .Packs2 .Pack{
        padding-top:140px;
        flex-direction:column-reverse;
        height:250px;
    }

    .Packs1, .Packs2{
        width:80%;
    }

    .Botoes{
        display:none;
    }

    .TeamWood{
        display:block;
    }
    
    .fundo3{
        margin-top:0px;
        zoom:400%;
        min-width:900px;
    }

    .Space2{
        height:150px;
    }

    #pet-container{
        margin-top:-70px;
    }
    
}
